<%- contentFor('secao1') %>
	<div class="jumbotron text-center">
		<h2>Sua conta está bloqueada</h2>
		<h4>Fale com algum admin para saber o porquê</h4>
	</div>
<%- contentFor('secao2') %>
	<img class="img-responsive" src="img/block.png" style="height: 40%; width: 40%; margin: auto;">